/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: #f4f7fa;
    color: #333;
}

/* TITULOS */
h1{
    text-align: center;
    color: #005b96;
    margin-bottom: 25px;
    font-size: 2rem;
}

h2{
    color: #005b96;
    margin-bottom: 20px;
   font-size: 2rem;
    text-align: center;
}

/* CONTENEDORES */
.container,
.menu,
.codigoCritica,
.Report,
.Firmas{
    background: #ffffff;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 20px;
    height: 100%;
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
}

/* GRID PRINCIPAL */
.contenido_principal{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
}

.menu{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
}

/* CAMPOS */
.campo{
    display: flex;
    flex-direction: column;
}

/* LABELS */
label{
    margin-bottom: 6px;
    font-weight: 600;
    color: #444;
}

/* INPUTS */
input,
select,
textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #d1d9e0;
    border-radius: 8px;
    font-size: 15px;
}

input:focus,
select:focus,
textarea:focus{
    outline: none;
}

/* CHECKBOX */
.codigoCritica label{
    display: flex;
    margin-bottom: 12px;
    font-weight: normal;
    cursor: pointer;
}

.codigoCritica input[type="checkbox"]{
    width: 5px;
    height: 5px;
}

/* AREA DE CODIGOS */
.codigoCritica{
    max-height: 700px;
    overflow-y: auto;
}


/* SCROLL PERSONALIZADO */
.codigoCritica::-webkit-scrollbar{
    width: 8px;
}

.codigoCritica::-webkit-scrollbar-thumb{
    background: #0077cc;
    border-radius: 10px;
}

.codigoCritica::-webkit-scrollbar-track{
    background: #e5edf4;
}

/* LINEA */
hr{
    border: none;
    height: 2px;
    background: #03114e;
    margin: 25px 0;
}

canvas{
    border: 1px solid #000;
    touch-action: none;
    background-color: white;
    height: 50px;
    width: 100%;
}


/* REPORTES */
.Report{
    display: flex;
    flex-direction: column;
   
}

.Reporte_firmas{
    color: #fff;
    margin: 10px;
}

textarea{
    resize: vertical;
    min-height: 140px;
}

/* BOTONES */
button{
    background: #0077cc;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 25px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    transition: .3s;
}

button:hover{
    background: #005fa3;
}

/* RESPONSIVE */
@media (max-width: 768px){

    body{
        padding: 10px;
    }

    h1{
        font-size: 1.5rem;
    }

    .contenido_principal,
    .menu{
        grid-template-columns: 1fr;
    }

    .container,
    .menu,
    .codigoCritica,
    .Report,
    .Firmas{
        padding: 15px;
    }

    canvas{
        width: 300px;
        height: 60px;
        border-radius: 5px;
    }
}

/* IMPRESION */
@media print{

    body{
        background: white;
        padding: 0;
    }

    .container,
    .menu,
    .codigoCritica,
    .Report,
    .Firmas{
        box-shadow: none;
        border: 1px solid #ccc;
    }

    input,
    textarea,
    select{
        border: none;
        background: transparent;
    }
}